<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewData["Title"] - CheeseBurger</title>
	<link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/js/bootstrap.min.js" asp-append-version="true" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
	<link rel="stylesheet" href="~/css/base.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/layout-admin.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/manage-user.css" asp-append-version="true" />
</head>
<body>
	<header class="header">
		<div class="container-fluid">
			<nav class="header__navbar">
				<a asp-page="User/HomePage" class="logo-link">
					<img src="~/img/logo_black.png" alt="abc" class="logo-server" style="height: 50px">
				</a>
				<a asp-page="" class="header__navbar-admin">AdminHub</a>
				<a asp-page="">
				</a>
			</nav>
		</div>
	</header>
	<div class="background">
		<div class="main__form-detail">
			<div class="main__sliderbar">
				<div class="account">
					<img class="account-avt" src="~/img/avt.png" />
					<div class="account-detail">
						<a class="account-name" asp-page="/Admin/ManageAccount">Nguyễn Thị Trà My</a>
						<p class="account-role">Quản trị viên</p>
					</div>
				</div>
				<ul class="categories__list">
					<li class="categories__item" id="revenue">
						<a class="nav-link " asp-page="/Admin/SyncRevenue">   Thống kê doanh thu</a>
					</li>
					<li class="categories__item" id="customer">
						<a class="nav-link" asp-page="/Admin/ManageUser">  Quản lý khách hàng</a>
					</li>
					<li class="categories__item " id="staff">
						<a class="nav-link" asp-page="/Admin/ManageStaff">  Quản lý nhân viên</a>
					</li>
					<li class="categories__item " id="ingredient">
						<a class="nav-link" asp-page="/Admin/ManageIngredient">  Quản lý nguyên liệu</a>
					</li>
					<li class="categories__item " id="category">
						<a class="nav-link" asp-page="/Admin/ManageCategories">   Quản lý danh mục</a>
					</li>
					<li class="categories__item " id="order">
						<a class="nav-link" asp-page="/Admin/ManageOrder">   Quản lý đơn hàng</a>
					</li>
					<li class="categories__item " id="food">
						<a class="nav-link" asp-page="/Admin/ManageFood">   Quản lý món ăn</a>
					</li>
				</ul>
				<ul class="categories__button">
					<li class="categories__item-button">
						<a class="nav-link" href="#">
							<i class="fas fa-right-from-bracket"></i>Đăng xuất
						</a>
					</li>
				</ul>
			</div>
			@RenderBody()
		</div>
	</div>
	@await RenderSectionAsync("Scripts", required: false)
	<script src="~/js/sidebar.js"></script>
</body>
</html>