@page
@model EmptyCartModel
@{
	ViewData["Title"] = "EmptyCart";
	ViewBag.Name = HttpContext.Session.GetString("Name");
	ViewBag.Id = HttpContext.Session.GetInt32("Id");
}

<div class="breadcrumb-division">
	<ol class="breadcrumb breadcrumb__edit">
		<li class="breadcrumb-item"><a asp-page="/Index">Trang chủ</a></li>
		<li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
	</ol>
</div>

<div class="empty-cart">
	<img src="~/img/empty-cart.png" alt="Giỏ hàng trống">
	<button class="home-link home-link__emptycart" onclick="window.location.href = 'https://localhost:44344/User/Food/Menu';">
		<i class="fa-solid fa-chevron-left"></i>
		Tiếp tục mua sắm
	</button>
</div>