@page
@model ForgetPasswordModel
@{
    ViewData["Title"] = "Login/Register";
}

<div class="login-wrapper">
    <div class="form-box success-form">
        <!-- Ke thua success page -->
        <a href="" class="logo-link">
            <img src="~/img/logo.png" alt="" class="logo-brand logo-brand-success">
        </a>
        <div class="login-form">
            <h2 class="text success-text">Quên mật khẩu</h2>
            <p class="text">
                Vui lòng nhập địa chỉ email đăng ký tài khoản.
                Chúng tôi sẽ gửi hướng dẫn và mật khẩu mới đến bạn.
            </p>
            <div class="input-item forget-password__input">
                <i class="fa-solid fa-envelope"></i>
                <input type="text" class="input-field" placeholder="Nhập Email">
            </div>
            <button class="home-btn" onclick="window.location.href = 'FirstPage.html';">Về trang chủ</button>
        </div>
    </div>
</div>
