@page
@model ChangePasswordAdminModel
@{
    ViewData["Title"] = "ChangePassword";
}
<link rel="stylesheet" href="~/css/change-password.css" asp-append-version="true" />
<main>
    <div class="main__form-detail">
        <div class="main__sliderbar col-2">
            <ul class="categories__list">
                <li class="categories__item active">
                    <a class="nav-link" href="~/Admin/ManageAccount"> Quản lý tài khoản</a>
                </li>
                <li class="categories__item">
                    <a class="nav-link" href="~/Admin/ManageUser">  Quản lý người dùng</a>
                </li>
                <li class="categories__item">
                    <a class="nav-link" href="~/Admin/ManageIngredient">  Quản lý nguyên liệu</a>
                </li>
                <li class="categories__item">
                    <a class="nav-link" href="~/Admin/ManageCategories">   Quản lý danh mục</a>
                </li>
                <li class="categories__item">
                    <a class="nav-link" href="~/Admin/ManageOrder">   Quản lý đơn hàng</a>
                </li>
                <li class="categories__item ">
                    <a class="nav-link" href="~/Admin/ManageFood">   Quản lý món ăn</a>
                </li>
                <li class="categories__item ">
                    <a class="nav-link" href="~/Admin/SyncRevenue">   Thống kê doanh thu</a>
                </li>
            </ul>
            <ul class="categories__button">
                <li class="categories__item-button">
                    <img src="~/img/Logout.png" alt="" style="height:30px">
                    <a class="nav-link" href="#"> Đăng xuất</a>
                </li>
            </ul>
        </div>
        <div class="blank_area col-3"></div>
        <div class="whole__information col-4">
            <div class="main__information">
                <div class="account__information d-flex justify-content-center">
                    <p class="account__information-label">Đổi mật khẩu</p>
                </div>
                <div class="input__type">
                    <p class="label">Nhập mật khẩu cũ</p>
                    <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                </div>

                <div class="input__type">
                    <p class="label">Nhập mật khẩu mới</p>
                    <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                </div>

                <div class="input__type">
                    <p class="label">Nhập lại mật khẩu mới</p>
                    <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                </div>

                <div class="button__customer-save d-flex justify-content-center">
                    <button class="" type="submit">Đổi mật khẩu</button>
                </div>

                <div class="label__password-forget d-flex justify-content-center">
                    <a class="nav-link" href="">Quên mật khẩu</a>
                </div>
            </div>
        </div>
        <div class="blank_area col-3"></div>
    </div>
</main>