@page
@model ImportOrderDetailModel
@{
	ViewData["Title"] = "ImportOrderDetails";
}
<link rel="stylesheet" href="~/css/detail-order-wait.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/import-order-details.css" asp-append-version="true" />
<div class="main__information">
	<div class="main__information-detail">
		<div class="main__information-packages">
			<div class="row">
				<label class="body-title ml-4">CHI TIẾT ĐƠN HÀNG</label>
				<div class="btn-xacnhan">Đơn nhập</div>
			</div>
			<div class="row">
				<div class="lb-title col-3 d-flex flex-column">
					<label class="lb-title">Mã đơn hàng</label>
					<label class="lb-title">Ngày đặt hàng</label>
					<label class="lb-title">Nhà cung cấp</label>
					<label class="lb-title">Nhân viên nhập</label>
				</div>
				<div class="lb-title col d-flex flex-column">
					<label class="lb-title">#@Model.order.ImportOrderID</label>
					<label class="lb-title">@Model.order.DateIO.ToString("HH:mm dd/MM/yyyy")</label>
					<label class="lb-title">@Model.order</label>
					<label class="lb-title"></label>
				</div>
			</div>
		</div>
		<table class="content-table">
			<thead>
				<tr>
					<th>STT</th>
					<th>Mã nguyên liệu</th>
					<th class="Ingre">Nguyên liệu</th>
					<th class="Price">Giá</th>
					<th>Số lượng/Đơn vị</th>
					<th class="Total">Tổng</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>100</td>
					<td class="Ingre">Salad</td>
					<td class="Price">5000 VND/g</td>
					<td>2</td>
					<td class="Total">10000 VND</td>
				</tr>
				<tr>
					<td>2</td>
					<td>101</td>
					<td class="Ingre">Bột mỳ</td>
					<td class="Price">10000 VND/kg</td>
					<td>3</td>
					<td class="Total">30000 VND</td>
				</tr>
				<tr>
					<td>3</td>
					<td>102</td>
					<td class="Ingre">Ớt</td>
					<td class="Price">2000 VND/g</td>
					<td>4</td>
					<td class="Total">8000 VND</td>
				</tr>
				<tr>
					<td>4</td>
					<td>103</td>
					<td class="Ingre">Cà chua</td>
					<td class="Price">5000 VND/kg</td>
					<td>5</td>
					<td class="Total">25000 VND</td>
				</tr>
				<tr class="specific-row">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>Thành tiền:</td>
					<td class="Total">73 000 VND</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<form method="post" asp-page-handler="Cancel">
	<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirm-label" aria-hidden="true">
		<div class="modal-dialog ">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="confirm-label"></h4>
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

				</div>
				<div class="modal-body">
					<div class="text-center wirningColor">
						<i class="fas fa-exclamation-triangle fa-4x"></i>
					</div>
					<br />
					<center>
						<p class="message"></p>
						<input type="hidden" name="orderId" value="" />
					</center>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger dismiss" data-dismiss="modal"></button>
					<button type="submit" class="btn btn-primary confirm"></button>
				</div>
			</div>
		</div>
	</div>
</form>
<script src="~/js/detail-order-done.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>


	// Huy don
	$(function () {
		(function ($) {
			$.fn.confirm = function (options) {
				var settings = $.extend({}, $.fn.confirm.defaults, options);

				return this.each(function () {
					var element = this;
					$('.modal-title', this).html(settings.title);
					$('.message', this).html(settings.message);
					$('.confirm', this).html(settings.confirm);
					$('.dismiss', this).html(settings.dismiss);

					$(this).on('click', '.confirm', function (event) {
						$(element).data('confirm', true);
					});

					$(this).on('hide.bs.modal', function (event) {
						if ($(this).data('confirm')) {
							$(this).trigger('confirm', event);
							$(this).removeData('confirm');
						} else {
							$(this).trigger('dismiss', event);
						}

						$(this).off('confirm dismiss');
					});

					$(this).modal('show');
				});
			};

			$.fn.confirm.defaults = {
				title: 'Modal title',
				message: 'One fine body&hellip;',
				confirm: 'OK',
				dismiss: 'Cancel'
			};
		})(jQuery);
	});
	$("#btn-cancel").click(function () {
		$('#confirm input[name="orderId"]').val();
		$('#confirm').confirm({
			title: 'confirmation',
			message: 'Bạn có chắc chắn muốn huỷ đơn hàng này không?',
			confirm: 'Có',
			dismiss: 'Không'
		});
	});
</script>