@page
@model ManageCategoriesModel
@{
	ViewData["Title"] = "ManageCategories";
}
<link rel="stylesheet" href="~/css/manage-categories.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/manage-ingredient.css" asp-append-version="true" />

<div class="main__information">
	<div class="form-group d-flex">
		<label class="control-label">Sắp xếp: </label>
		<div class="form__comboBox cbb_sort">
			<form action="dropList" method="post">
				<select name="combobox_Item">
					<option value="" selected>Tất cả</option>
					<option value="">Tên từ A-Z</option>
					<option value="">Tên từ Z-A</option>
				</select>
			</form>
		</div>
	</div>
	<div class="table__details-form">
		<div class="table__information col-9 pl-0">
			<table class="content-table">
				<thead>
					<tr>
						<th class="STT col-1">STT</th>
						<th class="ID_mon col-2">Mã DM</th>
						<th class="Ten_mon col-3">Tên danh mục</th>
						<th class="Number_mon col-3">Số lượng món</th>
						<th class="Option col-3">Tùy chọn</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="STT">1</td>
						<td class="ID_mon">100</td>
						<td class="Ten_mon">Hamburger</td>
						<td class="Number_mon">5</td>
						<td class="Option">
							<i class="fas fa-eye"></i>
							<i class="fas fa-pencil-alt"></i>
							<i class="fas fa-ban"></i>
						</td>
					</tr>
					<tr>
						<td class="STT">2</td>
						<td class="ID_mon">102</td>
						<td class="Ten_mon">Gà rán-Gà quay</td>
						<td class="Number_mon">4</td>
						<td class="Option">
							<i class="fas fa-eye"></i>
							<i class="fas fa-pencil-alt"></i>
							<i class="fas fa-ban"></i>
						</td>
					</tr>
					<tr>
						<td class="STT">3</td>
						<td class="ID_mon">103</td>
						<td class="Ten_mon">Combo 1 người</td>
						<td class="Number_mon">3</td>
						<td class="Option">
							<i class="fas fa-eye"></i>
							<i class="fas fa-pencil-alt"></i>
							<i class="fas fa-ban"></i>
						</td>
					</tr>
					<tr>
						<td class="STT">4</td>
						<td class="ID_mon">104</td>
						<td class="Ten_mon">Combo 2 người</td>
						<td class="Number_mon">2</td>
						<td class="Option ">
							<i class="fas fa-eye"></i>
							<i class="fas fa-pencil-alt"></i>
							<i class="fas fa-ban"></i>
						</td>
					</tr>
					<tr>
						<td class="STT">5</td>
						<td class="ID_mon">105</td>
						<td class="Ten_mon">Thức uống</td>
						<td class="Number_mon">5</td>
						<td class="Option ">
							<i class="fas fa-eye"></i>
							<i class="fas fa-pencil-alt"></i>
							<i class="fas fa-ban"></i>
						</td>
					</tr>
					<tr>
						<td class="STT">6</td>
						<td class="ID_mon">106</td>
						<td class="Ten_mon">Tráng miệng</td>
						<td class="Number_mon">4</td>
						<td class="Option ">
							<i class="fas fa-eye"></i>
							<i class="fas fa-pencil-alt"></i>
							<i class="fas fa-ban"></i>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="page-pagination">
				<div class="pagination">
					<a href="#"><i class="fas fa-angle-double-left"></i></a>
					<a href="#">1</a>
					<a href="#" class="active">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">6</a>
					<a href="#"><i class="fas fa-angle-double-right"></i></a>
				</div>
			</div>
		</div>
		<div class="categories-add col-3">
			<form class="categories__form-add">
				<p class="categories__text-specific">Thêm danh mục</p>
				<p class="categories__text">Tạo danh mục mới:</p>
				<div class="info__form"><input class="form-control mr-sm-2" type="search" placeholder=""></div>
				<button class="submit-btn add-category-btn" type="submit">Thêm danh mục +</button>
			</form>
		</div>
	</div>
</div>
<!-- Modal Modify -->
<div class="modal__food-modify">
	<div class="modal__food-information">
		<div class="button__exit d-flex justify-content-end">
			<span class="exit__surround d-flex justify-content-center align-items-center">
				<i class="fas fa-times"></i>
			</span>
		</div>
		<div class="categories-edit">
			<div class="categories__form-edit">
				<p class="categories__text-specific">Cập nhật danh mục</p>
				<p class="categories__text">Nhập tên mới:</p>
				<div class="info__form"><input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search"></div>
				<button class="submit-btn update-cate-btn" type="submit">Cập nhật danh mục</button>
			</div>
		</div>
	</div>
</div>
<!-- End Modal Modify -->
<!-- Modal Read -->
<div class="modal__food-read">
	<div class="modal__read-information modal__read-category-edit">
		<div class="button__exit d-flex justify-content-end">
			<span class="exit__surround d-flex justify-content-center align-items-center">
				<i class="fas fa-times"></i>
			</span>
		</div>
		<div class="categories-read">
			<div class="categories__form-edit">
				<p class="categories__text-specific">Xem danh mục</p>
				<div class="categories__information-label d-flex align-items-center">
					<div class="categories__information-key col-md-6">
						<p class="categories__text">Tên danh mục:</p>
						<p class="categories__text">Mã danh mục:</p>
						<p class="categories__text">Số lượng món:</p>
					</div>
					<div class="categories__information-element col-md-6">
						<p class="categories__text">Hamburger</p>
						<p class="categories__text">100</p>
						<p class="categories__text">5</p>
					</div>
				</div>
				<div class="list-foods">
					<div class="categories__information-label">Danh sách món ăn:</div>
					<div class="list-food-item">1. Cánh gà</div>
					<div class="list-food-item">2. Chân gà</div>
					<div class="list-food-item">3. Đùi gà</div>
					<div class="list-food-item">4. Thịt gà</div>
				</div>
			</div>
			<button class="submit-btn exit-btn" type="submit">OK</button>		</div>
	</div>
</div>
<!-- End Modal Read -->
<script src="~/js/manage-categories.js"></script>
