@page
@model ManageFoodModel
@{
	ViewData["Title"] = "ManageFood";
}
<link rel="stylesheet" href="~/css/manage-food.css" asp-append-version="true" />


<div class="blank_area col-1"></div>
<div class="main__information col-9">
	<div class="main__information-detail">
		<div class="main__information-add d-flex justify-content-end align-items-center">
			<div class="button__add"><button class="" type="submit">Thêm món ăn</button></div>
			<i class="fas fa-plus"></i>
		</div>
		<div class="main__table-form">
			<div class="col-md-3">
				<div class="form-group">
					<label class="control-label">Danh mục: </label>
					<div class="form__comboBox">
						<form action="dropList" method="post">
							<select name="combobox_Item">
								<option value="" selected>Tất cả</option>
								<option value="">Gà quay</option>
								<option value="">Vịt quay</option>
								<option value="">Hamburger</option>
								<option value="">Cơm</option>
							</select>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="control-label">Sắp xếp: </label>
					<div class="form__comboBox">
						<form action="dropList" method="post">
							<select name="combobox_Item">
								<option value="" selected>Tên từ A-Z</option>
								<option value="">Tên từ Z-A</option>
							</select>
						</form>
					</div>
				</div>
			</div>
			<div class="blank_area col-md-1"></div>
			<div class="col-md-5 d-flex justify-content-end align-items-center">
				<div class="form-group">
					<label class="control-label"></label>
					<div class="search__form">
						<form class="form-inline my-2 my-lg-0">
							<div class="input-wrapper">
								<input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm mã sản phẩm, tên sản phẩm" aria-label="Search">
								<i class="fas fa-search"></i>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
		<table class="content-table">
			<thead>
				<tr>
					<th class="STT">STT</th>
					<th class="ID_mon">Mã món ăn</th>
					<th class="Ten_mon">Tên món ăn</th>
					<th class="Danh_muc">Danh mục</th>
					<th class="Trang_thai">Trạng thái</th>
					<th class="Option">Tùy chọn</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="STT">1</td>
					<td class="ID_mon">100</td>
					<td class="Ten_mon">Hamburger</td>
					<td class="Danh_muc">Gà Quay</td>
					<td class="Trang_thai">Đang bán</td>
					<td class="Option">
						<i class="fas fa-eye"></i>
						<i class="fas fa-pencil-alt"></i>
						<i class="fas fa-ban"></i>
					</td>
				</tr>
				<tr>
					<td class="STT">1</td>
					<td class="ID_mon">100</td>
					<td class="Ten_mon">Hamburger</td>
					<td class="Danh_muc">Gà Quay</td>
					<td class="Trang_thai">Đang bán</td>
					<td class="Option">
						<i class="fas fa-eye"></i>
						<i class="fas fa-pencil-alt"></i>
						<i class="fas fa-ban"></i>
					</td>
				</tr>
				<tr>
					<td class="STT">1</td>
					<td class="ID_mon">100</td>
					<td class="Ten_mon">Hamburger Gà quay Flavar</td>
					<td class="Danh_muc">Gà Quay</td>
					<td class="Trang_thai">Đang bán</td>
					<td class="Option">
						<i class="fas fa-eye"></i>
						<i class="fas fa-pencil-alt"></i>
						<i class="fas fa-ban"></i>
					</td>
				</tr>
				<tr>
					<td class="STT">1</td>
					<td class="ID_mon">100</td>
					<td class="Ten_mon">Hamburger</td>
					<td class="Danh_muc">Gà Quay</td>
					<td class="Trang_thai">Đang bán</td>
					<td class="Option">
						<i class="fas fa-eye"></i>
						<i class="fas fa-pencil-alt"></i>
						<i class="fas fa-ban"></i>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="page-pagination">
			<div class="pagination">
				<a href="#"><i class="fas fa-angle-double-left"></i></a>
				<a href="#">1</a>
				<a href="#" class="active">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#"><i class="fas fa-angle-double-right"></i></a>
			</div>
		</div>
	</div>
</div>
<div class="modal__food-add">
	<div class="modal__food-information">
		<div class="button__exit d-flex justify-content-end">
			<button class="exit__surround">
				<i class="fas fa-times"></i>
			</button>
		</div>
		<div class="modal__food-details">
			<p class="modal__label-main">Thêm món ăn</p>
			<div class="food__name">
				<p class="label">Tên món ăn</p>
				<input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
			</div>
			<div class="food__price-categories d-flex justify-content-between">
				<div class="food__price col-6">
					<p class="label">Danh mục</p>
					<div class="form__comboBoxList">
						<form action="dropList" method="post">
							<select name="combobox_Item">
								<option value="" selected>Tất cả</option>
								<option value="">Gà quay</option>
								<option value="">Vịt quay</option>
								<option value="">Hamburger</option>
								<option value="">Cơm</option>
							</select>
						</form>
					</div>
				</div>
				<div class="food__categories col-6">
					<p class="label">Đơn giá</p>
					<input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
				</div>
			</div>
			<div class="food__description">
				<p class="label">Mô tả</p>
				<input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
			</div>
			<!-- <div class="food__recipe">
				<div class="col-md-2">
					<div class="form-group-start">
					   <label class="control-label">Nguyên liệu: </label>
					   <div class="form__comboBoxList">
						 <form action="dropList" method="post">
							<select name="combobox_Item">
							<option value="" selected>Tất cả</option>
							<option value="">Gà quay</option>
							<option value="">Vịt quay</option>
							<option value="">Hamburger</option>
							<option value="">Cơm</option>
							</select>
					   </div>
					</div>
				</div>
				<div class="blank__area col-md-1"></div>
				<div class="col-md-2">
					<div class="form-group">
						<label class="control-label">Khối lượng:</label>
						<div class="search__weight">
							<input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
						</div>
					</div>
				</div>
				<div class="blank__area col-md-1"></div>
				<div class="col-md-2">
					<div class="form-group">
						<label class="control-label">Sắp xếp: </label>
						<div class="form__comboBoxList">
							<form action="dropList" method="post">
								<select name="combobox_Item">
								<option value="" selected>Tên từ A-Z</option>
								<option value="">Tên từ Z-A</option>
								</select>
						</div>
					 </div>
				</div>
				<div class="blank__area col-md-1"></div>
				<div class="plus__button d-flex align-items-center">
					<i class="fas fa-plus-circle"></i>
				</div>
			</div> -->
			<div class="file__image d-flex align-items-center">
				<form action="/upload.php" method="post" enctype="multipart/form-data">
					<p class="image__text">Hình ảnh</p>
					<input type="file" name="fileupload" id="fileupload">
				</form>
			</div>
			<div class="button__food-add">
				<button class="" type="submit">Thêm món ăn</button>
			</div>
		</div>
	</div>
</div>
<script src="~/js/manage-food.js"></script>