@page
@model ManageStaffModel
@{
	ViewData["Title"] = "ManageUser";
}
<link rel="stylesheet" href="~/css/manage-user.css" asp-append-version="true" />

<div class="main__information">
	<div class="main__information-detail">
		<div class="main__table-form">
			<div class="col-md-3 pl-0">
				<div class="form-group">
					<label class="control-label">Chức vụ: </label>
					<div class="form__comboBox">
						<form action="dropList" method="post">
							<select name="combobox_Item">
								<option value="" selected>Tất cả</option>
								<option value="">Quản trị viên</option>
								<option value="">Nhân viên nhà bếp</option>
								<option value="">Nhân viên giao hàng</option>
							</select>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="control-label">Sắp xếp: </label>
					<div class="form__comboBox">
						<form action="dropList" method="post">
							<select name="combobox_Item">
								<option value="" selected>Tất cả</option>
								<option value="">Tên từ A-Z</option>
								<option value="">Tên từ Z-A</option>
							</select>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6 pr-0 mr-0 d-flex justify-content-end">
				<div class="form-group">
					<label class="control-label"><br></label>
					<div class="search__form">
						<form class="form-inline my-2 my-lg-0">
							<div class="input-wrapper">
								<input class="form-control" type="search" placeholder="Nhập tên người dùng" aria-label="Search">
								<i class="fas fa-search"></i>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<table class="content-table">
			<thead>
				<tr class="tr">
					<th class="STT col-1">STT</th>
					<th class="ID col-1">Mã NV</th>
					<th class="Name col-3">Họ tên</th>
					<th class="Role col-2">Chức vụ</th>
					<th class="SDT col-2">Số điện thoại</th>
					<th class="Option__eye col-1">Xem</th>
					<th class="Option__pencil col-1">Sửa</th>
					<th class="Option__ban col-1">Xoá</th>
				</tr>
			</thead>
			<tbody>
				<tr class="tr">
					<td class="STT">1</td>
					<td class="ID">100</td>
					<td class="Name">Võ Thế Đạt</td>
					<td class="Role">Giao hàng</td>
					<td class="SDT">0985551212</td>
					<td class="Option__eye"> <i class="fas fa-eye"></i></td>
					<td class="Option__pencil"> <i class="fas fa-pencil-alt"></i></td>
					<td class="Option__ban">  <i class="fas fa-ban"></i></td>
				</tr>
				<tr class="tr">
					<td class="STT">2</td>
					<td class="ID">101</td>
					<td class="Name">Huỳnh Quang Đông</td>
					<td class="Role">Nhà bếp</td>
					<td class="SDT">0985551219</td>
					<td class="Option__eye"> <i class="fas fa-eye"></i></td>
					<td class="Option__pencil"> <i class="fas fa-pencil-alt"></i></td>
					<td class="Option__ban">  <i class="fas fa-ban"></i></td>
				</tr>
				<tr class="tr">
					<td class="STT">3</td>
					<td class="ID">102</td>
					<td class="Name">Nguyễn Thị Trà My</td>
					<td class="Role">QTV</td>
					<td class="SDT">0985551218</td>
					<td class="Option__eye"> <i class="fas fa-eye"></i></td>
					<td class="Option__pencil"> <i class="fas fa-pencil-alt"></i></td>
					<td class="Option__ban">  <i class="fas fa-ban"></i></td>
				</tr>
			</tbody>
		</table>
		<div class="page-pagination">
			<div class="pagination">
				<a href="#"><i class="fas fa-angle-double-left"></i></a>
				<a href="#">1</a>
				<a href="#" class="active">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#"><i class="fas fa-angle-double-right"></i></a>
			</div>
		</div>
	</div>
</div>
<!-- Update staff -->
<div class="modal__account-update">
	<div class="modal__account-information">
		<div class="button__exit">
			<div class="exit__surround">
				<i class="fas fa-times"></i>
			</div>
		</div>
		<div class="modal__account-details">
			<div class="modal__account-label d-flex align-items-center">
				<p class="modal__label-cate">Cập nhật tài khoản</p>
				<p class="modal__label-main">Nguyễn Thị Trà My</p>
			</div>
			<div class="account__name">
				<p class="label">Họ và tên</p>
				<input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
			</div>
			<div class="account__position-categories d-flex justify-content-between">
				<div class="account__position col-6">
					<p class="label">Chức vụ</p>
					<div class="form__comboBoxList">
						<form action="dropList" method="post">
							<select name="combobox_Item">
								<option value="" selected></option>
								<option value="">Khách hàng</option>
								<option value="">Quản lý</option>
								<option value="">Nhân viên</option>
							</select>
						</form>
					</div>
				</div>
				<div class="account__date col-6">
					<p class="label">Ngày sinh</p>
					<form action="action_page.php">
						<input type="date" name="bday">
					</form>
				</div>
			</div>
			<div class="account__email-telephone d-flex justify-content-between">
				<div class="account__email col-6">
					<p class="label">Địa chỉ email</p>
					<input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
				</div>
				<div class="account__telephone col-6">
					<p class="label">Số điện thoại</p>
					<input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
				</div>
			</div>
			<div class="account__city-district d-flex justify-content-between">
				<div class="account__city-details col-6">
					<div class="form-group-start">
						<label class="control-label">Tỉnh(thành phố): </label>
						<div class="form__comboBoxList">
							<form action="dropList" method="post">
								<select name="combobox_Item">
									<option value="" selected>Chọn tỉnh(thành phố)</option>
									<option value="">Hà Nội</option>
									<option value="">Hải Phòng</option>
									<option value="">Quảng Nam</option>
								</select>
							</form>
						</div>
					</div>
				</div>
				<div class="account__district-details col-6">
					<div class="form__group-district">
						<label class="control-label">Quận(huyện): </label>
						<div class="form__comboBoxList">
							<form action="dropList" method="post">
								<select name="combobox_Item">
									<option value="" selected>Chọn quận(huyện)</option>
									<option value="">Hải Châu</option>
									<option value="">Sơn Trà</option>
									<option value="">Thanh Khê</option>
									<option value="">Ngũ Hành Sơn</option>
								</select>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="account__ward-address d-flex justify-content-between">
				<div class="account__ward col-6">
					<p class="label">Phường(Xã)</p>
					<div class="form__comboBoxList">
						<form action="dropList" method="post">
							<select name="combobox_Item">
								<option value="" selected>Chọn phường(xã)</option>
								<option value="">Hòa Minh</option>
								<option value="">Hòa Khánh Bắc</option>
								<option value="">Hòa Khánh Nam</option>
							</select>
						</form>
					</div>
				</div>
				<div class="account__adress col-6">
					<p class="label">Số nhà</p>
					<input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
				</div>
			</div>
			<div class="button__account-save">
				<button class="" type="submit">Cập nhật thông tin tài khoản</button>
			</div>
		</div>
	</div>
</div>
<!-- End Update staff -->
<!-- Full Information -->
<div class="modal__info-full">
	<div class="modal__info-details">
		<div class="button__exit d-flex justify-content-end">
			<div class="exit__surround">
				<i class="fas fa-times"></i>
			</div>
		</div>
		<div class="modal__staff-details">
			<p class="modal__label-main">
				<div class="modal__staff-label d-flex align-items-center">
					<p class="modal__label-cate">Chi tiết tài khoản</p>
					<p class="modal__label-main">Nguyễn Thị Trà My</p>
				</div>
			</p>
			<div class="staff__info-full d-flex">
				<div class="staff__info-key col-3">
					<p>Mã người dùng:</p>
					<p>Họ và tên:</p>
					<p>Chức vụ:</p>
					<p>Ngày sinh:</p>
					<p>Giới tính:</p>
					<p>Số điện thoại:</p>
					<p>Email:</p>
					<p>Địa chỉ:</p>
				</div>
				<div class="staff__info-value col-9">
					<p>102</p>
					<p>Nguyễn Thị Trà My</p>
					<p>Quản trị viên</p>
					<p>19/11/2003</p>
					<p>Nữ</p>
					<p>0835121369</p>
					<p>nguyentramy@gmail.com</p>
					<p>92 Nguyễn Lâm, phường Tứ Hạ, huyện Hương Trà, tỉnh Thừa Thiên-Huế</p>
				</div>
			</div>
			<button class="submit-btn btn-save" type="submit">Thay đổi thông tin tài khoản</button>
		</div>
	</div>
</div>
<script src="~/js/manage-user.js"></script>
<!-- End Full Information -->
