@page
@model ManageFoodModel
@{
	ViewData["Title"] = "ManageFood";
}
<link rel="stylesheet" href="~/css/manage-ingredient.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/manage-food.css" asp-append-version="true" />

<div class="main__information">
	<div class="main__information-detail">
		<div class="main__information-add d-flex justify-content-end align-items-center">
			<div class="button__add"><button class="" type="submit">Thêm món ăn +</button></div>
		</div>
		<div class="main__table-form">
			<div class="col-md-3 pl-0">
				<div class="form-group">
					<label class="control-label">Danh mục: </label>
					<div class="form__comboBox">
						<form action="dropList" method="post">
							<select name="combobox_Item">
								<option value="" selected>Tất cả</option>
								<option value="">Gà quay</option>
								<option value="">Vịt quay</option>
								<option value="">Hamburger</option>
								<option value="">Cơm</option>
							</select>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label class="control-label">Sắp xếp: </label>
					<div class="form__comboBox">
						<form action="dropList" method="post">
							<select name="combobox_Item">
								<option value="" selected>Tên từ A-Z</option>
								<option value="">Tên từ Z-A</option>
							</select>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-6 pr-0 mr-0 d-flex justify-content-end">
				<div class="form-group">
					<label class="control-label"></label>
					<div class="search__form">
						<form class="form-inline my-2 my-lg-0">
							<div class="input-wrapper">
								<input class="form-control" type="search" placeholder="Tìm kiếm mã, tên sản phẩm" aria-label="Search">
								<i class="fas fa-search"></i>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
		<table class="content-table">
			<thead>
				<tr>
					<th class="STT col-1">STT</th>
					<th class="Ten_mon col-3">Tên món ăn</th>
					<th class="Danh_muc col-3">Danh mục</th>
					<th class="Trang_thai col-3">Trạng thái</th>
					<th class="Option col-2">Tùy chọn</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="STT">1</td>
					<td class="Ten_mon">Hamburger</td>
					<td class="Danh_muc">Gà Quay</td>
					<td class="Trang_thai">Đang bán</td>
					<td class="Option">
						<i class="fas fa-eye"></i>
						<i class="fas fa-pencil-alt"></i>
						<i class="fas fa-ban"></i>
					</td>
				</tr>
				<tr>
					<td class="STT">1</td>
					<td class="Ten_mon">Hamburger</td>
					<td class="Danh_muc">Gà Quay</td>
					<td class="Trang_thai">Đang bán</td>
					<td class="Option">
						<i class="fas fa-eye"></i>
						<i class="fas fa-pencil-alt"></i>
						<i class="fas fa-ban"></i>
					</td>
				</tr>
				<tr>
					<td class="STT">1</td>
					<td class="Ten_mon">Hamburger Gà quay Flavar</td>
					<td class="Danh_muc">Gà Quay</td>
					<td class="Trang_thai">Đang bán</td>
					<td class="Option">
						<i class="fas fa-eye"></i>
						<i class="fas fa-pencil-alt"></i>
						<i class="fas fa-ban"></i>
					</td>
				</tr>
				<tr>
					<td class="STT">1</td>
					<td class="Ten_mon">Hamburger</td>
					<td class="Danh_muc">Gà Quay</td>
					<td class="Trang_thai">Đang bán</td>
					<td class="Option">
						<i class="fas fa-eye"></i>
						<i class="fas fa-pencil-alt"></i>
						<i class="fas fa-ban"></i>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="page-pagination">
			<div class="pagination">
				<a href="#"><i class="fas fa-angle-double-left"></i></a>
				<a href="#">1</a>
				<a href="#" class="active">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#"><i class="fas fa-angle-double-right"></i></a>
			</div>
		</div>
	</div>
</div>
<div class="modal__food-add">
	<div class="modal__food-information">
		<div class="button__exit d-flex justify-content-end">
			<span class="exit__surround d-flex align-items-center justify-content-center">
				<i class="fas fa-times"></i>
			</span>
		</div>
		<div class="modal__food-details">
			<p class="modal__label-main">THÊM MÓN ĂN</p>
			<div class="food__name">
				<p class="label">Tên món ăn</p>
				<input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
			</div>
			<div class="food__price-categories d-flex justify-content-between">
				<div class="food__price col-6">
					<p class="label">Danh mục</p>
					<div class="form__comboBoxList">
						<form action="dropList" method="post">
							<select name="combobox_Item">
								<option value="" selected>Tất cả</option>
								<option value="">Gà quay</option>
								<option value="">Vịt quay</option>
								<option value="">Hamburger</option>
								<option value="">Cơm</option>
							</select>
						</form>
					</div>
				</div>
				<div class="food__categories col-6">
					<p class="label">Đơn giá</p>
					<input class="form-control mr-sm-2" type="search" placeholder="">
				</div>
			</div>
			<div class="food__description">
				<p class="label">Mô tả</p>
				<input class="form-control mr-sm-2" type="search" placeholder="">
			</div>
			<div class="file__image d-flex align-items-center">
				<form action="/upload.php" method="post" enctype="multipart/form-data">
					<p class="image__text">Hình ảnh</p>
					<input type="file" name="fileupload" id="fileupload">
				</form>
			</div>
			<div class="button__food-add">
				<button class="" type="submit">Thêm món ăn</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal Update -->
<div class="modal__ingredient-modify">
	<div class="modal__ingredient-information">
		<div class="button__exit d-flex justify-content-end">
			<span class="exit__surround d-flex align-items-center justify-content-center">
				<i class="fas fa-times"></i>
			</span>
		</div>
		<div class="modal__ingredient-details">
			<p class="modal__label-main">Cập nhật món ăn</p>
			<div class="ingredient__name">
				<p class="label">Tên món ăn</p>
				<input class="form-control" type="search" placeholder="" aria-label="Search">
			</div>
			<div class="ingredient__price-categories d-flex justify-content-between">
				<div class="ingredient__categories col-6 pl-0 pr-2">
					<p class="label">Danh mục</p>
					<input class="form-control" type="search" placeholder="" aria-label="Search">
				</div>
				<div class="ingredient__price col-6 pr-0 pl-2">
					<p class="label">Trạng thái</p>
					<div class="form__comboBoxList">
						<form action="dropList" method="post">
							<select name="combobox_Item">
								<option value="" selected>Ngừng bán</option>
								<option value="">Đang bán</option>
							</select>
						</form>
					</div>
				</div>
			</div>
			<div class="food__description">
				<p class="label">Mô tả</p>
				<input class="form-control mr-sm-2" type="search" placeholder="">
			</div>
			<div class="file__image d-flex align-items-center">
				<form action="/upload.php" method="post" enctype="multipart/form-data">
					<p class="image__text">Hình ảnh:</p>
					<input type="file" name="fileupload" id="fileupload">
				</form>
			</div>
			<div class="button__ingredient-modify">
				<button class="" type="submit">Cập nhật món ăn</button>
			</div>
		</div>
	</div>
</div>
<!-- End Modal Update-->
<!-- Modal Read -->
<div class="modal__food-read">
	<div class="modal__read-information">
		<div class="button__exit d-flex justify-content-end">
			<span class="exit__surround d-flex align-items-center justify-content-center">
				<i class="fas fa-times"></i>
			</span>
		</div>
		<div class="categories-read">
			<div class="categories__form-edit">
				<p class="categories__text-specific">Thông tin món ăn</p>
				<div class="food-line d-flex">
					<p class="categories__text col-md-4 pl-0">Hình ảnh</p>
					<img class="food-img" src="~/img/Burger-Flava.jpg"/>
				</div>
				<div class="food-line d-flex">
					<p class="categories__text col-md-4 pl-0">Tên món ăn:</p>
					<p class="categories__text col-8">Hamburger gà quay Flavar</p>
				</div>
				<div class="food-line d-flex">
					<p class="categories__text col-md-4 pl-0">Danh mục:</p>
					<p class="categories__text col-8">Hamburger gà quay Flavar</p>
				</div>
				<div class="food-line d-flex">
					<p class="categories__text col-md-4 pl-0">Danh mục:</p>
					<p class="categories__text col-8">Hamburger gà quay Flavar</p>
				</div>
				<div class="food-line d-flex">
					<p class="categories__text col-md-4 pl-0">Mô tả:</p>
					<p class="categories__text col-8">Hamburger gà quay Flavar là sự kết hợp độc đáo của abcdef</p>
				</div>
				<button class="submit-btn exit-btn" type="submit">OK</button>
			</div>
		</div>
	</div>
</div>
<!-- End Modal Read -->

<script src="~/js/manage-food.js"></script>