@page
@model ShippingFeeModel
@{
    ViewData["Title"] = "ShippingFeeModelModel";
}

<h1>Shipping Fee Calculator</h1>

<form method="Post" asp-page-handler="Calculate" id="shippingForm">
    <div>
        <label>From District ID:</label>
        <input type="text" name="fromDistrictId" />
    </div>
    <div>
        <label>Service ID:</label>
        <input type="text" name="serviceId" />
    </div>
    <div>
        <label>To District ID:</label>
        <input type="text" name="toDistrictId" />
    </div>
    <div>
        <label>To Ward Code:</label>
        <input type="text" name="toWardCode" />
    </div>
    <div>
        <label>Height:</label>
        <input type="text" name="height" />
    </div>
    <div>
        <label>Length:</label>
        <input type="text" name="length" />
    </div>
    <div>
        <label>Weight:</label>
        <input type="text" name="weight" />
    </div>
    <div>
        <label>Width:</label>
        <input type="text" name="width" />
    </div>
    <div>
        <label>Insurance Value:</label>
        <input type="text" name="insuranceValue" />
    </div>
    <div>
        <button type="submit" value="Calculate">Calculate</button>
    </div>
</form>
<div id="successMessage">@ViewData["SuccessMessage"]</div>
<div id="errorMessage">@ViewData["ErrorMessage"]</div>
<div>
    <p>Total: @Model.Total<span id="total"></span></p>
</div>




