@page
@model ShippingFeeModel
@{
    ViewData["Title"] = "ShippingFeeModelModel";
}

<h1>Shipping Fee Calculator</h1>

<form method="Post" asp-page-handler="Calculate" id="shippingForm" onsubmit="return calculateShippingFee(event)">
    <div>
        <label>From District ID:</label>
        <input type="text" name="fromDistrictId" />
    </div>
    <div>
        <label>Service ID:</label>
        <input type="text" name="serviceId" />
    </div>
    <div>
        <label>To District ID:</label>
        <input type="text" name="toDistrictId" />
    </div>
    <div>
        <label>To Ward Code:</label>
        <input type="text" name="toWardCode" />
    </div>
    <div>
        <label>Height:</label>
        <input type="text" name="height" />
    </div>
    <div>
        <label>Length:</label>
        <input type="text" name="length" />
    </div>
    <div>
        <label>Weight:</label>
        <input type="text" name="weight" />
    </div>
    <div>
        <label>Width:</label>
        <input type="text" name="width" />
    </div>
    <div>
        <label>Insurance Value:</label>
        <input type="text" name="insuranceValue" />
    </div>
    <div>
        <button type="submit" value="Calculate">Calculate</button>
    </div>
    
</form>
<div id="successMessage"></div>
<div id="errorMessage"></div>
<div id="result"></div>
<div>
    <p>Total: <span id="total"></span></p>
    <p>Service Fee: <span id="serviceFee"></span></p>
    <p>Insurance Fee: <span id="insuranceFee"></span></p>
    <p>Pick Station Fee: <span id="pickStationFee"></span></p>
    <p>Coupon Value: <span id="couponValue"></span></p>
    <p>R2S Fee: <span id="r2sFee"></span></p>
</div>

@section Scripts {
    <script>
        async function calculateShippingFee(event) {
            event.preventDefault();
            const response = await fetch(`https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/fee?from_district_id=${document.getElementsByName("fromDistrictId")[0].value}&service_id=${document.getElementsByName("serviceId")[0].value}&to_district_id=${document.getElementsByName("toDistrictId")[0].value}&to_ward_code=${document.getElementsByName("toWardCode")[0].value}&height=${document.getElementsByName("height")[0].value}&length=${document.getElementsByName("length")[0].value}&weight=${document.getElementsByName("weight")[0].value}&width=${document.getElementsByName("width")[0].value}&insurance_value=${document.getElementsByName("insuranceValue")[0].value}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "token": "312f0089-ed7a-11ed-8a8c-6e4795e6d902"
                }
            });
            const data = await response.json();
            const total = document.getElementById("total");
            const serviceFee = document.getElementById("serviceFee");
            const insuranceFee = document.getElementById("insuranceFee");
            const pickStationFee = document.getElementById("pickStationFee");
            const couponValue = document.getElementById("couponValue");
            const r2sFee = document.getElementById("r2sFee");
            if (response.ok) {
                total.innerText = data.data.total;
                serviceFee.innerText = data.data.service_fee;
                insuranceFee.innerText = data.data.insurance_fee;
                pickStationFee.innerText = data.data.pick_station_fee;
                couponValue.innerText = data.data.coupon_value;
                r2sFee.innerText = data.data.r2s_fee;
                const successMessage = document.getElementById("successMessage");
                successMessage.innerText = `Success! Response status code: ${response.status}`;
                event.preventDefault();
            } else {
                const errorMessage = document.getElementById("errorMessage");
                console.log(data.message);
                errorMessage.innerText = `Error! ${data.message}`;
                event.preventDefault();
            }
        }
    </script>
}


