@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";    
}

<div class="breadcrumb-division">
    <ol class="breadcrumb breadcrumb__edit">
        <li class="breadcrumb-item"><a asp-page="/Index">Trang chủ</a></li>       
        <li class="breadcrumb-item active" aria-current="page">Đổi mật khẩu</li>
    </ol>
</div>
<div class="body container">
    <small class="Current_Password" style="display: none;">@Model.currentPassword</small>
    <div class="row">
        <div class="body__side-bar-pass col-3">
            <div class="account">
                <img class="account-avt" src="~/img/avt.png" />
                <div class="account-detail">
                    <a class="body__side-bar-item active account-name" aria-current="page">@Model.customer.CusName</a>
                </div>
            </div>
            <div class="side-bar-box">
                <a class="body__side-bar-item" asp-page="/User/Account/DetailAccount">Chi tiết tài khoản</a>
                <div class="side-bar-filter"></div>                
                <a class="body__side-bar-item" asp-page="/User/Order/MyOrder">Đơn hàng của tôi</a>
                <div class="side-bar-filter"></div>
                <a class="body__side-bar-item active" style="color: #ff5028" aria-current="page">Đổi mật khẩu</a>
                <div class="side-bar-filter"></div>
                <a class="body__side-bar-item" asp-page="/Login/LoginRegister" asp-page-handler="Logout">Đăng xuất</a>
            </div>
        </div>
        <div class="body__manage-account col-6 flex justify-content-center">
            <div class="row justify-content-between align-items-center">
                <label class="body-title-pass">Đổi mật khẩu</label>
            </div>

            <form method="post" id="change-password-customer-form" class="ChangePassword" asp-page-handler="Update">
                <div>
                    <label class="manage-pass__title">Nhập mật khẩu cũ <span style="color: red">&lowast;</span></label>
                    <input id="old_password" name="oldPassword" type="password" class="manage-pass__input col">
                    <small id="match_pass_error" style="color: red; font-size: 1.5rem"></small>
                </div>
                <div>
                    <label class="manage-pass__title">Nhập mật khẩu mới <span style="color: red">&lowast;</span></label>
                    <input id="new_password" name="newPassword" type="password" class="manage-pass__input col">
                    <small id="invalid_pass_error" style="color: red; font-size: 1.5rem"></small>
                </div>
                <div>
                    <label class="manage-pass__title">Nhập lại mật khẩu mới <span style="color: red">&lowast;</span></label>
                    <input id="confirm_password" name="confirmPassword" type="password" class="manage-pass__input col">
                    <small id="duplicate_pass_error" style="color: red; font-size: 1.5rem"></small>
                </div>                    
                <div class="row">
                    <button class="change-pass__btn col-4" type="submit">Đổi mật khẩu</button>
                </div>
            </form>
            <br>
            <a href="#" class="link-forgot-passw">Quên mật khẩu?</a>
        </div>
    </div>
</div>
<script src="~/js/change-password-cus.js"></script>