@page
@model CartModel
@{
    ViewData["Title"] = "Home page";
}

<div class="breadcrumb-division">
    <ol class="breadcrumb breadcrumb__edit">
        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
    </ol>
</div>

<div class="list-item">
    <table class="table text-center">
        <thead style="background-color: var(--div-color)">
            <tr class="table-header">
                <th class="cart__table-col col-1" scope="col">STT</th>
                <th class="cart__table-col col-4" scope="col">Sản phẩm</th>
                <th class="cart__table-col col-2" scope="col">Giá</th>
                <th class="cart__table-col col-2" scope="col">Số lượng</th>
                <th class="cart__table-col col-2" scope="col">Tổng Giá</th>
                <th class="cart__table-col col-1" scope="col">Xoá</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 5; i++)
            {
                <tr>
                    <th scope="row" style="font-weight: 500;">@(i + 1)</th>
                    <td class="d-flex align-items-center">
                        <img src="~/img/Burger-Flava.jpg" alt="" class="cart__item-image" />
                        <a href="" class="cart__name-item">Hamburger Gà Quay Flavar</a>
                    </td>
                    <td>100,000VND</td>
                    <td>
                        <div class="input-group d-flex justify-content-center" style="width: 70%; margin: 0 auto;">
                            <div class="minus minus-plus-button">-</div>
                            <input type="text" name="qty" id="@i" value="1" class="input-field">
                            <div class="plus minus-plus-button">+</div>
                        </div>
                    </td>
                    <td style="font-weight: 500">100,000VND</td>
                    <td><i class="fa-solid fa-ban" style="color: red"></i></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row d-flex justify-content-end">
    <div class="fee-division col-5">
        <span style="font-weight: 500;" class="fee-detail__item">Tổng đơn</span>
        <div class="total-fee-list">
            <div class="fee-detail">
                <div class="fee-detail__item">
                    <span>Tổng tiền hàng</span>
                    <span>
                        500,000
                        <span>VND</span>
                    </span>
                </div>
                <div class="fee-detail__item">
                    <span>Phí vận chuyển</span>
                    <span>13,000
                        <span>VND</span>
                    </span>
                </div>
                <div class="fee-detail__item">
                    <span>Thuế</span>
                    <span>0
                        <span>%</span>
                    </span>
                </div>
            </div>
            <div class="fee-detail">
                <div class="fee-detail__item" style="font-weight: 500;">
                    <span>Tổng thanh toán</span>
                    <span>
                        513,000
                        <span>VND</span>
                    </span>
                </div>
            </div>
        </div>
        <button class="submit-btn" onclick="window.location.href = 'https://localhost:44344/User/HomePage';">Mua Hàng</button>

    </div>
</div>

<script>
    var plusButton = document.getElementsByClassName('plus');
    var minusButton = document.getElementsByClassName('minus');
    //Increase
    for (var i = 0; i < plusButton.length; i++) {
        var button = plusButton[i];
        button.addEventListener('click', function handleClick(event) {
            var input = event.target.parentElement.children[1];
            var inputValue = input.value;
            var newValue = parseInt(inputValue) + 1;
            if (isNaN(newValue))
            {
                newValue = 1;
            }
            input.value = newValue;
        });
    }
    //Descrease
    for (var i = 0; i < minusButton.length; i++) {
        var button = minusButton[i];
        button.addEventListener('click', function handleClick(event) {
            var input = event.target.parentElement.children[1];
            var inputValue = input.value;
            var newValue = parseInt(inputValue) - 1;
            if (isNaN(newValue) || newValue <= 0)
            {
                newValue = 1;
            }
            input.value = newValue;
        });
    }
</script>