@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    ViewBag.Name = HttpContext.Session.GetString("Name");
    ViewBag.Id = HttpContext.Session.GetInt32("Id");
}

<div class="breadcrumb-division">
    <ol class="breadcrumb breadcrumb__edit">
        <li class="breadcrumb-item"><a asp-page="/Index">Trang chủ</a></li>       
        <li class="breadcrumb-item active" aria-current="page">Đổi mật khẩu</li>
    </ol>
</div>
<div class="body container">
    <div class="row">
        <div class="body__side-bar-pass col-3">
            <div class="side-bar-box">
                <a class="body__side-bar-item" asp-page="/User/DetailAccount">Chi tiết tài khoản</a>
                <div class="side-bar-filter"></div>
                <a class="body__side-bar-item active" style="color: #ff5028" aria-current="page">Đổi mật khẩu</a>
                <div class="side-bar-filter"></div>
                <a class="body__side-bar-item" asp-page="/User/MyOrder">Đơn hàng của tôi</a>
                <div class="side-bar-filter"></div>
                <a class="body__side-bar-item" asp-page="#">Đăng xuất</a>
            </div>
        </div>
        <div class="body__manage-account col-6 flex justify-content-center">
            <div class="row justify-content-between align-items-center">
                <label class="body-title-pass">Đổi mật khẩu</label>
            </div>

            <label class="manage-pass__title">Nhập mật khẩu cũ</label>
            <input type="text" class="manage-pass__input col">
            <label class="manage-pass__title">Nhập mật khẩu mới</label>
            <input type="text" class="manage-pass__input col">
            <label class="manage-pass__title">Nhập lại mật khẩu mới</label>
            <input type="text" class="manage-pass__input col">
            <div class="row">
                <button class="manage-pass__btn col-4">Đổi mật khẩu</button>
            </div>
            <br>
            <a href="#" class="link-forgot-passw">Quên mật khẩu?</a>
        </div>
    </div>
</div>