@page
@model DetailAccountModel
@{
    ViewData["Title"] = "Detail Account";
    ViewBag.Name = HttpContext.Session.GetString("Name");
    ViewBag.Id = HttpContext.Session.GetInt32("Id");
}

<div class="breadcrumb-division">
    <ol class="breadcrumb breadcrumb__edit">
        <li class="breadcrumb-item"><a asp-page="/Index">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Chi tiết tài khoản</li>
    </ol>
</div>
<div class="body container">
    <div class="row justify-content-between">
        <div class="body__side-bar col-3">
            <div class="side-bar-box">
                <a class="body__side-bar-item active" style="color: #ff5028" aria-current="page">Chi tiết tài khoản</a>
                <div class="side-bar-filter"></div>
                <a class="body__side-bar-item" asp-page="/User/ChangePassword">Đổi mật khẩu</a>
                <div class="side-bar-filter"></div>
                <a class="body__side-bar-item" asp-page="/User/MyOrder">Đơn hàng của tôi</a>
                <div class="side-bar-filter"></div>
                <a class="body__side-bar-item" asp-page="#">Đăng xuất</a>
            </div>
        </div>

        <div class="body__manage-account col-8 flex justify-content-center">
            <div class="row justify-content-between align-items-center">
                <label class="body-title ml-4" style="font-size: 2.2rem">Chi tiết tài khoản</label>
            </div>

            <div class="row">
                <div class="col">
                    <label class="manage-account__title">Tên người dùng</label>
                    <input type="text" class="manage-account__input col" readonly="readonly">
                </div>

                <div class="col">
                    <label class="manage-account__title">Họ và tên</label>
                    <input type="text" class="manage-account__input col" readonly="readonly">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="manage-account__title">Địa chỉ email</label>
                    <input type="text" class="manage-account__input col" readonly="readonly">
                </div>

                <div class="col">
                    <label class="manage-account__title">Số điện thoại</label>
                    <input type="text" class="manage-account__input col" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="manage-account__title">Tỉnh (thành phố)</label>
                    <input type="text" class="manage-account__input col" readonly="readonly">
                </div>

                <div class="col">
                    <label class="manage-account__title">Quận (huyện)</label>
                    <input type="text" class="manage-account__input col" readonly="readonly">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="manage-account__title">Phường (xã)</label>
                    <input type="text" class="manage-account__input col" readonly="readonly">
                </div>

                <div class="col">
                    <label class="manage-account__title">Số nhà</label>
                    <input type="text" class="manage-account__input col" readonly="readonly">
                </div>
            </div>
            <div class="row">
                <button class="manage-account__btn btn-change-pass col-4">
                    <a class="link-change-passw" asp-page="/User/UpdateInfoAccount">Thay đổi thông tin tài khoản</a>
                </button>
            </div>
        </div>
    </div>
</div>