@page
@model EmptyCartModel
@{
	ViewData["Title"] = "Home page";
}

<div class="breadcrumb-division">
	<ol class="breadcrumb breadcrumb__edit">
		<li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
		<li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
	</ol>
</div>

<div class="text-center" style="margin: 6.6% 0">
	;
	<img src="~/img/empty-cart.png" alt="Giỏ hàng trống">
	<button class="home-link home-link__payment" onclick="window.location.href = 'https://localhost:44344/User/HomePage';"
			style="font-size: 1.6rem">
		<i class="fa-solid fa-cart-shopping"></i>
		Tiếp tục mua sắm
	</button>
</div>