@page
@model MenuModel
@{
	ViewData["Title"] = "Menu";
}
<div class="breadcrumb-division">
	<ol class="breadcrumb breadcrumb__edit">
		<li class="breadcrumb-item"><a asp-page="/User/HomePage">Trang chủ</a></li>
		<li class="breadcrumb-item active" aria-current="page">Thực đơn</li>
	</ol>
</div>
<div class="row jtf-center menu">
	<div class="col-3">
		<div class="category-filter">
			<p>Danh mục sản phẩm</p>
			<button class="category-filter-name">Tất cả</button>
			<button class="category-filter-name">Danh mục 2</button>
			<button class="category-filter-name">Danh mục 3</button>
			<button class="category-filter-name">Danh mục 4</button>
			<button class="category-filter-name">Danh mục 5</button>

		</div>

		<form class="cost-filter">
			<p>Mức giá</p>
			<div class="cost-filter-name">
				<input type="checkbox" name="cost-filter" class="cost-filter-name" value="cost1">Từ 0 - 20,000VND
			</div>
			<div class="cost-filter-name">
				<input type="checkbox" name="cost-filter" class="cost-filter-name" value="cost1">Từ 20,000 -
				50,000VND
			</div>
			<div class="cost-filter-name">
				<input type="checkbox" name="cost-filter" class="cost-filter-name" value="cost1">Từ 50,000 -
				100,000VND
			</div>
			<div class="cost-filter-name">
				<input type="checkbox" name="cost-filter" class="cost-filter-name" value="cost1">Từ 100,000 -
				150,000VND
			</div>
		</form>
	</div>
	<div class="col-9 ">
		<div class="row d-flex justify-content-between">
			<div class="menu-sort">
				<label class="">Sắp xếp: </label>
				<select class="menu-sort-box">
					<option value="">Sắp xếp</option>
					<option value="">Tên: A - Z</option>
					<option value="">Tên: Z - A</option>
					<option value="">Giá: Tăng</option>
					<option value="">Giá: Giảm</option>
				</select>
			</div>
			<form class="menu-search-box">
				<input class="search-box-input" type="text" placeholder="Nhập món ăn cần tìm">
				<button type="submit" class="search-box-btn">
					<i class="fas fa-magnifying-glass"></i>
				</button>
			</form>
		</div>

		<div class=" card-deck list-card-item d-flex flex-wrap">
			@for (var i = 0; i <= 3; i++)
			{
				<div class="card-edit">
					<img class="card-img-top card-img-edit" src="~/img/Burger-Flava.jpg" alt="">
					<div class="card-body">
						<a asp-page="/User/DetailFood" class="card-tittle">Hamburger Gà Quay Flavar</a>
						<p class="card-sub"><span class="card-cost">100,000</span>VND</p>
						<button onclick="" class="submit-btn card-btn"><i class="fas fa-cart-shopping"></i>    Thêm vào giỏ hàng</button>
					</div>
				</div>
			}
			@for (var i = 0; i <= 4; i++)
			{
				<div class="card-edit">
					<img class="card-img-top card-img-edit" src="~/img/3-Fried-Chicken.jpg" alt="">
					<div class="card-body">
						<a asp-page="/User/DetailFood" class="card-tittle">Gà rán ngon tuyệt cú mèo meo meo meo</a>
						<p class="card-sub"><span class="card-cost">100,000</span>VND</p>
						<button onclick="" class="submit-btn card-btn"><i class="fas fa-cart-shopping"></i>    Thêm vào giỏ hàng</button>
					</div>
				</div>
			}
		</div>
		<div class="page-pagination">
			<div class="pagination">
				<a href="#"><i class="fas fa-angle-double-left"></i></a>
				<a href="#">1</a>
				<a href="#" class="active">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a>
				<a href="#">6</a>
				<a href="#"><i class="fas fa-angle-double-right"></i></a>
			</div>
		</div>
	</div>
</div>