@page
@model UpdateInfoAccountModel
@{
    ViewData["Title"] = "Update Info Account";
    ViewBag.Name = HttpContext.Session.GetString("Name");
    ViewBag.Id = HttpContext.Session.GetInt32("Id");
}

<div class="breadcrumb-division">
    <ol class="breadcrumb breadcrumb__edit">
        <li class="breadcrumb-item"><a asp-page="/Index">Trang chủ</a></li>
        <li class="breadcrumb-item"><a asp-page="/User/DetailAccount">Chi tiết tài khoản</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cập nhật thông tin cá nhân</li>
    </ol>
</div>
<div class="body container">
    <div class="row justify-content-between">
        <div class="body__side-bar col-3">
            <div class="side-bar-box">
                <a class="body__side-bar-item" asp-page="/User/DetailAccount" style="color: #ff5028">Chi tiết tài khoản</a>
                <div class="side-bar-filter"></div>
                <a class="body__side-bar-item" asp-page="/User/ChangePassword">Đổi mật khẩu</a>
                <div class="side-bar-filter"></div>
                <a class="body__side-bar-item" asp-page="/User/MyOrder">Đơn hàng của tôi</a>
                <div class="side-bar-filter"></div>
                <a class="body__side-bar-item" asp-page="#">Đăng xuất</a>
            </div>
        </div>

        <div class="body__manage-account col-8 flex justify-content-center">
            <div class="row justify-content-between align-items-center">
                <label class="body-title ml-4" style="font-size: 2.2rem">Chi tiết tài khoản</label>
                <a asp-page="/User/ChangePassword" class="manage-account__link mr-4">Bạn muốn đổi mật khẩu?</a>
            </div>

            <div class="row">
                <div class="col">
                    <label class="manage-account__title">Tên người dùng</label>
                    <input type="text" class="manage-account__input col" readonly="readonly">
                </div>

                <div class="col">
                    <label class="manage-account__title">Họ và tên</label>
                    <input type="text" class="manage-account__input-up col"">
                </div>
            </div>           
            <div class="row">
                <div class="col">
                    <label class="manage-account__title">Địa chỉ email</label>
                    <input type="text" class="manage-account__input-up col">
                </div>

                <div class="col">
                    <label class="manage-account__title">Số điện thoại</label>
                    <input type="text" class="manage-account__input-up col">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="manage-account__title">Tỉnh (thành phố)</label>
                    <select class="manage-account__input col">
                        <option value="Select">Chọn tỉnh (thành phố)</option>
                        <option value="Đà Nẵng">Đà Nẵng</option>
                        <option value="Huế">Huế</option>
                        <option value="Quảng Nam">Quảng Nam</option>
                    </select>
                </div>

                <div class="col">
                    <label class="manage-account__title">Quận (huyện)</label>
                    <select class="manage-account__input col">
                        <option value="Select">Chọn quận (huyện)</option>
                        <option value="Đà Nẵng">Hải Châu</option>
                        <option value="Đà Nẵng">Liên Chiểu</option>
                        <option value="Đà Nẵng">Ngũ Hành Sơn</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="manage-account__title">Phường (xã)</label>
                    <select class="manage-account__input col">
                        <option value="Select">Chọn phường (xã)</option>
                        <option value="Đà Nẵng">Hoà Khánh Bắc</option>
                        <option value="Huế">Hoà Khánh Nam</option>
                    </select>
                </div>

                <div class="col">
                    <label class="manage-account__title">Số nhà</label>
                    <input type="text" class="manage-account__input-up col">
                </div>
            </div>
            <div class="row">
                <button class="manage-account__btn col ml-4 mr-4">Cập nhật thông tin tài khoản</button>
            </div>
        </div>
    </div>
</div>