.body {
    margin-bottom: 5%;
}

.body__side-bar {
    border-radius: 5px;
    padding: 30px 0;
    height: 300px;
    background-color: var(--div-color);
    box-shadow: 3px 2px 5px 3px rgba(0,0,0,.15);
}

.side-bar-box {
    margin: 5% 10% 10% 10%;
}

.body__side-bar-item {
    text-decoration: none;
    font-size: 1.8rem;
    list-style: none;
    margin-bottom: 5px;
    color: var(--text-color);
}

.side-bar-box a:hover {
    text-decoration: none;
    color: var(--text-color);
}

.side-bar-box a:active {
    text-decoration: none;
    color: var(--text-color);
}

.side-bar-filter {
    border-bottom: 1px solid var(--text-color);
    margin-top: 3%;
    margin-bottom: 3%;
}

.body__manage-account {
    background-color: var(--div-color);
    border-radius: 8px;
    padding: 30px 50px;
    box-shadow: 3px 2px 5px 3px rgba(0,0,0,.15);
}

.body-title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.manage-account__link {
    font-size: 1.6rem;
}

.manage-account__title,
.manage-account__btn {
    font-size: 1.4rem;
}

.manage-account__input {
    height: 30px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    outline: #F0F0F0;
    border-color: rgba(52, 44, 44, 0.2);
    cursor: pointer;
    border-radius: 10px;
}

.manage-account__btn {
    background-color: var(--main-color);
    border: none;
    outline: none !important;
    height: 40px;
    color: var(--white-color);
    font-weight: 400;
    border-radius: 2px;
    margin: auto;
    border-radius: 5px;
}

.manage-pass__input {
    height: 30px;
    margin-bottom: 20px;
    font-size: 1.6rem;
    outline: #F0F0F0;
    border-color: rgba(52, 44, 44, 0.2);
    border-radius: 20px;
}

.manage-pass__btn {
    background-color: var(--main-color);
    border: none;
    height: 40px;
    font-size: 1.6rem;
    color: var(--white-color);
    font-weight: 400;
    border-radius: 20px;
    margin: auto;
}

.manage-pass__title {
    font-size: 1.6rem;
}

.link-forgot-pass {
    font-size: 15px;
    color: var(--main-color);
    margin: 40%;
}

.link-change-passw {
    text-decoration: none;
    color: var(--white-color);
}

.btn-change-pass a:hover {
    text-decoration: none;
    color: var(--white-color);
}

.btn-change-pass a:active {
    text-decoration: none;
    color: var(--white-color);
}

/* BreadCrumb */
.breadcrumb__edit {
    margin: 30px auto;
    line-height: 40px;
    background-color: var(--white-color);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
}

.breadcrumb-item a {
    color: var(--black-color);
    text-decoration: none;
}

    .breadcrumb-item a:first-child {
        margin-left: 20px;
    }

    .breadcrumb-item a:hover {
        opacity: 0.8;
    }
