/* Main */
.ingredient__for {
    width: 50%;
    width: 50%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.ingredient__form {
    background-color: var(--white-color);
    width: 100%;
    margin: 15px 5px 20px 10px;
    border-radius: 6px;
}

.ingredient__form-details {
    font-size: 1.8rem;
    font-size: 1.8rem;
    color: var(--black-color);
    height: fit-content;
    width: 100%;
    padding: 40px 50px;
    background: var(--div-color);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.ingredient__label, 
.ingredient__label-mass
{
    font-weight: 500;
}
.ingredient__label-specific {
    font-size: 20px;
    color: var(--text-color);
    font-weight: 700;
}

.ingredient__money {
    text-align:end;
}
.ingredient__label-mass.col-3 {
    text-align: center;
}

.form__comboBox select {
    font-size: 16px;
    color: var(--text-color);
    width: 100%;
    height: 30px;
    border: 1px solid #495057;
    border-radius: 6px;
}
.form__comboBox select[name="partner"] {
    width: 60%;
}

.ingredient__form {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 80%;
}

.form-group, .ingredient__label {
    margin-bottom: 0 !important;
}

.input-wrapper input {
    padding: 0;
    height: 30px;
    padding-left: 10px;
    border: 1px solid #495057;
    border-radius: 6px;
    width: 60% !important;
    font-size: 16px;
}
.input-wrapper input:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid #495057;
}

.ingredient__total {
    padding-bottom: 20px;
    text-align: right;
}

.ingredient__total-label {
    font-weight: 500;
}

.ingredient__button-order button {
    width: 100%;
    height: 40px;
    background-color: var(--admin-color);
    color: var(--white-color);
    transform: translateX(-14px);
    border: 0;
    padding: 0;
    border-radius: 6px;
}

.ingredient__button-cancel button {
    width: 100%;
    height: 40px;
    background-color: var(--white-color);
    color: var(--black-color);
    transform: translateX(-14px);
    border-width: 1px;
    padding: 0;
    border-radius: 6px;
}

    .ingredient__button-cancel button:hover, .ingredient__button-order button:hover, i.fas:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .ingredient__button-cancel button:focus, .ingredient__button-order button:focus {
        outline: none;
    }

/* End Main */
