/* Main */

.ingredient__form {
    background-color: var(--white-color);
    height: fit-content;
    width: 100%;
    margin: 15px 5px 20px 10px;
}

.ingredient__form-details {
    color: var(--black-color);
    height: 50%;
    width: 100%;
    padding: 60px 0 60px 30px;
}
.main__information {
    width: 60%;
    padding-top: 0;
}

.main__information-packages {
    background-color: var(--div-color);
    padding: 30px;
    border-radius: 8px;
    font-size: 1.6rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
/*
.ingredient__label-specific {
    font-size: 20px;
    color: var(--text-color);
    font-weight: 700;
}*/

/*.ingredient__label {
    font-size: 16px;
}

.ingredient__label-mass {
    font-size: 16px;
    transform: translateX(90px);
}

.ingredient__label-list {
    padding-bottom: 15px;*/
    /* transform: translateX(-5px); */
/*}*/
/*
.form__comboBox select[name="combobox_Item"] {
    color: var(--text-color);
    width: 180px;
    font-size: 17px;
    height: 40px;
}

.ingredient__form {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 80%;
}

.form-group, .ingredient__label {
    margin-bottom: 0 !important;
    padding-right: 10%;
}*/

/*.input-wrapper input[type="search"] {
    padding-right: 30px;*/ /* adjust the padding to accommodate the icon */
    /*font-size: 10px;
    height: 40px;
    border: 1px solid #495057;
}

.ingredient__total {
    font-size: 16px;
    padding-bottom: 40px;
}

.ingredient__total-label {
    margin-left: 20px;
    font-weight: 600;
}

.ingredient__button-order button {
    width: 100%;
    height: 50px;
    background-color: var(--admin-color);
    color: var(--white-color);
    font-size: 16px;
    transform: translateX(-14px);
    border: 0;
    padding: 0;
    border-radius: 6px;*/
/*}*/

/*.ingredient__button-cancel button {
    width: 100%;
    height: 50px;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 16px;
    transform: translateX(-14px);
    border-width: 1px;
    padding: 0;
    border-radius: 6px;
}

    .ingredient__button-cancel button:hover, .ingredient__button-order button:hover, i.fas:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .ingredient__button-cancel button:focus, .ingredient__button-order button:focus {
        outline: none;
    }*/


/* End Main */
