/* Main */

.main__table {
    font-size: 16px;
    padding-top: 45px;
}

.form__comboBox select[name="combobox_Item"] {
    color: var(--text-color);
    border-radius: 8px;
    width: 50px;
    font-size: 17px;
}
/* End Main */
.main__information-add i {
    transform: translateY(6px);
    margin-bottom: 10px;
    color: var(--white-color);
}

.button__add button {
    width: 180px;
    height: 40px;
    background-color: var(--admin-color);
    color: var(--white-color);
    border-radius: 5px;
    font-size: 15px;
    border: 0px;
    transform: translateX(25px);
}

    .button__add button:focus {
        outline: none;
    }

.time-start {
    transform: translateX(30px);
}

.time-end {
    transform: translateY(17px);
}

.time-start .label {
    margin-bottom: 3px;
}

.time-start .control-label, .time-end .control-label {
    margin-right: 5px;
}

input[type="date"] {
    border-radius: 4px;
    border: 1px solid var(--black-color);
}

.button__add button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.main__table-status {
    height: 30px;
    display: block;
    transform: translateX(-20px);
    margin-top: 20px;
    font-size: 16px;
}

.main__status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 105%;
    height: auto;
}

    .main__status .main__status-details {
        font-size: 16px;
        list-style-type: none;
        padding: 5px !important;
    }

    .main__status button:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .main__status button:focus {
        outline: none;
    }

    .main__status .main__status-details:not(.active) button {
        background-color: var(--white-color);
        border-radius: 20px;
        width: 100%;
        height: 30px;
        border: 0;
    }

    .main__status .active button {
        background-color: var(--admin-color);
        border-radius: 20px;
        width: 100%;
        transform: translateX(-10px);
        height: 30px;
        color: var(--white-color);
        border: 0;
    }

.main__table-information {
    padding: 20px 15px 0px 15px;
}

.main__table-text {
    font-size: 15px;
}

.main__table-form {
    display: flex;
    margin-top: 20px;
}

    .main__table-form button {
        background-color: orange;
        margin: 0 auto;
        display: block;
    }

.search__form input[type="search"] {
    width: 300px;
    border: 1px solid #495057;
}

.input-wrapper {
    position: relative;
    transform: translateX(35px);
}

    .input-wrapper input[type="search"] {
        padding-right: 30px; /* adjust the padding to accommodate the icon */
        border-radius: 10px;
        font-size: 15px;
    }

    .input-wrapper i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        z-index: 0;
        transition: transform 0.2s ease-in-out;
    }

        .input-wrapper i:hover {
            color: #ee4d2d;
        }

/* Table */
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    transform: translateX(15px);
}

    .content-table thead tr {
        background-color: var(--admin-color);
        color: var(--black-color);
        text-align: left;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }

    .content-table tbody tr {
        border-bottom: 1px solid var(--black-color);
    }

    .content-table thead tr th:not(.Name) {
        text-align: center !important;
    }

    .content-table tbody tr td:not(.Name) {
        text-align: center !important;
    }

    .content-table tbody tr td.Status {
        color: var(--admin-color);
    }

.comboList_menu {
    border-radius: 20px;
}


.form__comboBox select[name="combobox_Item"] {
    border-radius: 8px;
    width: 150px;
    font-size: 18px;
    border: 1px solid #495057;
}

.page-pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pagination a {
    display: block;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-size: 1.25rem;
}

    .pagination a.active {
        background-color: var(--table-color);
        color: white;
    }

.pagination i {
    color: var(--table-color);
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
/* End Table */
