/* Information */
.button__add button {
    width: 150px;
    height: 40px;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 5px;
    font-size: 15px;
    border: 0px;
}

    .button__add button:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    .button__add button:focus {
        outline: none;
    }

.main__information {
    padding-top: 45px;
}

.main__information-add {
    transform: translateX(25px);
}

    .main__information-add i {
        transform: translate(-20px, 6px);
        margin-bottom: 10px;
        color: var(--white-color);
    }

.main__table-information {
    padding: 20px 15px 0px 15px;
}

.main__table-text {
    font-size: 15px;
}

.main__table-form {
    display: flex;
    font-size: 15px;
}

    .main__table-form button {
        background-color: orange;
        margin: 0 auto;
        display: block;
    }

.search__form input[type="search"] {
    width: 300px;
}

.input-wrapper {
    position: relative;
    transform: translateX(35px);
}

    .input-wrapper input[type="search"] {
        padding-right: 30px; /* adjust the padding to accommodate the icon */
        border-radius: 10px;
        font-size: 15px;
    }

    .input-wrapper i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        z-index: 0;
        transition: transform 0.2s ease-in-out;
    }

        .input-wrapper i:hover {
            color: #ee4d2d;
        }

.col-md-3 .form__comboBox select[name="combobox_Item"] {
    color: var(--text-color);
    border-radius: 8px;
    width: 180px;
    font-size: 17px;
}
/* End Information */

/* Table */
.content-table {
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 16px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    transform: translateX(15px);
}

    .content-table thead tr {
        background-color: var(--admin-color);
        color: var(--black-color);
        text-align: left;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }

    .content-table tbody tr {
        border-bottom: 1px solid var(--black-color);
    }

    .content-table thead tr th:not(.Ten_mon, .Danh_muc, .Trang_thai, .Option) {
        text-align: center !important;
    }

    .content-table tbody tr td:not(.Ten_mon, .Danh_muc, .Trang_thai, .Option) {
        text-align: center !important;
    }

.comboList_menu {
    border-radius: 20px;
}

.content-table tbody tr .Option i {
    padding-right: 10px;
}

    .content-table tbody tr .Option i:hover {
        cursor: pointer;
        opacity: 0.6;
    }

.page-pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pagination a {
    display: block;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-size: 1.25rem;
}

    .pagination a.active {
        background-color: var(--table-color);
        color: white;
    }

.pagination i {
    color: var(--table-color);
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* End Table */

/* Xem them Button */
.button__show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    font-size: 1.5rem;
}

    .button__show-more button {
        width: 300px;
        height: 40px;
        background-color: var(--yellow-color);
        border-radius: 15px;
    }
/* End */

/* Modal Add */
.modal__food-information {
    background-color: var(--white-color);
    width: 50%;
    height: 80%;
}

.button__exit .exit__surround {
    width: 30px;
    height: 30px;
    background-color: #D43352;
    border: 0;
}

    .button__exit .exit__surround i {
        color: var(--white-color);
    }

        .button__exit .exit__surround i:hover, .button__exit .exit__surround:hover {
            opacity: 0.8;
            cursor: pointer;
        }

    .button__exit .exit__surround:focus {
        outline: none;
    }


.modal__food-add.open {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__food-add {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.modal__food-details:not(.modal__label-main) {
    padding: 20px 40px 40px 40px;
    font-size: 15px;
}

.modal__label-main {
    font-weight: 700;
    font-size: 20px;
}

.food__name input[type="search"], .food__categories input[type="search"], .food__description input[type="search"], .search__weight input[type="search"] {
    height: 40px;
    font-size: 20px;
    border: 1px solid #495057;
}

.food__price, .food__categories, .food__description {
    padding: 10px 5px 10px 0px !important;
}

.modal__food-information {
    margin: 40px;
    border-radius: 6px;
}

.form__comboBoxList select[name="combobox_Item"] {
    height: 40px;
    width: 100%;
}

.image__text {
    margin: 0 10px 0 0;
}

.file__image {
    margin-bottom: 20px;
    margin-top: 10px;
}

.button__food-add button {
    width: 100%;
    height: 45px;
    background-color: var(--admin-color);
    color: var(--white-color);
    border: 0;
    padding: 0;
    border-radius: 6px;
}

    .button__food-add button:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    .button__food-add button:focus {
        outline: none;
    }
/* End Modal Add */
