/* Slider */
main {
    background-color: #F5F5F5;
    height: auto;
}

.main__form-detail {
    max-width: 1200px;
    display: block;
    margin: 0px;
    display: flex;
    height: 596px;
}

    .main__form-detail .main__sliderbar {
        padding: 40px 0 0 15px;
        background-color: var(--white-color);
        width: auto;
    }

        .main__form-detail .main__sliderbar .categories__list, .categories__button {
            padding-left: 0px;
            padding-inline-start: 0px;
            list-style-type: none;
            transform: translateX(20px);
            border-radius: 6px;
        }

        .main__form-detail .main__sliderbar .categories__list {
            padding-bottom: 235px;
            transform: translateX(20px);
        }

            .main__form-detail .main__sliderbar .categories__list a {
                padding: 5px 0px;
            }

.categories__list .categories__item:not(:last-child)::after {
    content: '.';
    font-size: 0;
    display: block;
    width: 75%;
    height: 1px;
    background-color: var(--black-color);
}

.categories__list .categories__item.active a.nav-link::before {
    content: "";
    position: absolute;
    left: -15px;
    transform: translateY(5px);
    border-width: 6px 9px;
    border-style: solid;
    border-color: transparent transparent transparent var(--admin-color);
}

.categories__list .categories__item a.nav-link {
    font-size: 15px;
    color: var(--text-color);
}

.categories__list .categories__item.active a.nav-link {
    color: var(--admin-color);
    font-size: 15px;
}

.categories__list .categories__item:not(.active) > a.nav-link {
    opacity: 0.5;
}

.categories__button .categories__item-button {
    display: flex;
    align-items: center;
}

.categories__list .categories__item a.nav-link:hover {
    transform: translateY(-2px);
}

.categories__button .categories__item-button a.nav-link {
    font-size: 15px;
    padding-left: 15px;
    color: var(--black-color);
}
/* End Slider */
/* Main */
.main__information {
    font-size: 15px;
    padding-top: 45px;
}

.form__comboBox select[name="combobox_Item"] {
    color: var(--text-color);
    border-radius: 8px;
    width: 180px;
    font-size: 17px;
}
/* End Main */
/* Table */
.table__details-form {
    display: flex;
}

    .table__details-form .table__information {
        padding-right: 250px;
    }

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    width: 160%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    /* transform: translateX(15px); */
}

    .content-table thead tr {
        background-color: var(--admin-color);
        color: var(--black-color);
        text-align: left;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }

    .content-table .STT {
        transform: translateX(10px);
    }

    .content-table .ID_mon {
        transform: translateX(30px);
    }

    .content-table .Number_mon {
        transform: translateX(38px);
    }

    .content-table tbody tr {
        border-bottom: 1px solid var(--black-color);
    }

.comboList_menu {
    border-radius: 20px;
}

.content-table tbody tr .Option i {
    padding-right: 10px;
}

    .content-table tbody tr .Option i:hover {
        cursor: pointer;
        opacity: 0.4;
    }

.page-pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    transform: translateX(30%);
}

.pagination a {
    display: block;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-size: 1.25rem;
}

    .pagination a.active {
        background-color: var(--table-color);
        color: white;
    }

.pagination i {
    color: var(--table-color);
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* End Table */

/* Form Add */
.categories-add {
    background-color: var(--white-color);
    width: 30%;
    height: 200px;
    transform: translate(30px, 25px);
}

.categories__form-add {
    margin: 20px
}

    .categories__form-add .categories__text-specific {
        font-size: 2rem;
    }

.info__form {
    padding-bottom: 15px;
}

.categories__button:hover {
    opacity: 0.8;
}

.categories__button button[type="submit"]:focus {
    outline: none;
}

.categories__button button[type="submit"] {
    transform: translateX(-20px);
    width: 100%;
    color: var(--white-color);
    background-color: var(--admin-color);
    padding: 0;
    border-radius: 6px;
    height: 40px;
}
/* End Form Add */

/* Modal Edit */
.modal__food-information {
    background-color: var(--white-color);
    padding: 0px 0px 40px 40px;
    width: 24%;
    height: auto;
    border-radius: 6px;
}

.button__exit .exit__surround {
    width: 30px;
    height: 30px;
    background-color: #D43352;
}

    .button__exit .exit__surround i {
        color: var(--white-color);
        font-size: 16px;
    }

        .button__exit .exit__surround i:hover, .button__exit .exit__surround:hover, .categories__button button[type="submit"]:hover {
            opacity: 0.8;
            cursor: pointer;
        }

.modal__food-modify.open {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__food-modify {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.categories-edit {
    background-color: var(--white-color);
    width: 250px;
    height: 200px;
    transform: translateY(25px);
    font-size: 15px;
}

.categories__form-edit {
    margin: 20px;
}

.info__form input[type="search"] {
    height: 30px;
}

.categories__form-edit .categories__text-specific {
    font-size: 2rem;
    font-weight: 600;
}

.categories__button button[type="submit"] {
    border: 0;
    height: 35px;
}

/* End Modal Edit */

/* Modal Read */
.modal__food-read.open {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-read {
    width: 100%;
    height: auto;
}

.modal__food-read {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: none;
}

.modal__read-information {
    background-color: var(--white-color);
    padding: 0px 0px 40px 40px;
    margin: 40px;
    width: 35%;
    height: auto;
    border-radius: 6px;
}

.categories__information-label {
    font-size: 1.6rem;
}

.categories__information-key {
    padding-left: 0 !important;
}

.content__table-read {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.25em;
    width: 80%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    /* transform: translateX(15px); */
}

    .content__table-read thead tr {
        background-color: var(--table-color);
        color: var(--black-color);
        text-align: left;
        font-weight: bold;
    }

    .content__table-read th,
    .content__table-read td {
        padding: 12px 15px;
    }

    .content__table-read .STT {
        transform: translateX(5px);
    }

    .content__table-read tbody tr {
        border-bottom: 1px solid var(--black-color);
    }

.Name-col {
    transform: translateX(20px);
}
/* End Modal Read */
