/* Main */

.main__table {
    font-size: 16px;
    width: 75%;
    margin: 0 auto;
    margin-top: 60px;
}
.main-table-order {
    width: 70%;
}

.main__table-form {
    display: flex;
    font-size: 16px;
}

.form__comboBox select[name="combobox_Item"] {
    color: var(--text-color);
    border-radius: 6px;
    width: 150px;
    font-size: 16px;
    border: 1px solid #495057;
    padding: 1px 5px;
}
/* End Main */
.main__information {
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}

.main__information-add i {
    margin-bottom: 10px;
    color: var(--white-color);
}

.button__add {
    margin: 40px 0 10px;
}

    .button__add button {
        width: 180px;
        height: 40px;
        background: linear-gradient(to right, #ee4d2d,#ff7337);
        color: var(--white-color);
        border-radius: 5px;
        font-size: 16px;
        border: 0px;
    }

        .button__add button:focus {
            outline: none;
        }

label {
    margin-bottom: 0;
}

    label.control-label {
        line-height: 1.5;
        margin-bottom: 10px;
    }

label.control-label-edit {
    margin-bottom: 0;
}


.time-start .control-label, .time-end .control-label {
    margin-right: 5px;
}

input[type="date"] {
    border-radius: 4px;
    padding: 0 5px;
    border: 1px solid #495057;
}

.button__add button:hover {
    cursor: pointer;
    opacity: 0.8;
}

a.IDOrder {
    color: var(--main-color);
}

    a.IDOrder:hover {
        color: var(--main-color);
        text-decoration: none;
        opacity: 0.5;
    }

a.Name {
    color: var(--text-color);
}

    a.Name:hover {
        text-decoration: none;
        opacity: 0.5;
        color: var(--text-color);
    }

.main__table-status {
    height: 30px;
    display: block;
    font-size: 16px;
    margin-bottom: 40px;
}

.main__status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 auto;
}

    .main__status .main__status-details {
        font-size: 15px;
        list-style-type: none;
        width: fit-content;
        border-radius: 20px;
        height: 30px;
        border: 0;
        padding: 3px 15px;
        box-shadow: 1px 2px 9px 0px var(--admin-color);
        background-color: var(--white-color);
    }

    .main__status button:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .main__status button:focus {
        outline: none;
    }

    .main__status .main__status-details:not(.active) a {
        background-color: var(--white-color);
    }

.main__status-details.active {
    background: var(--orange);
}

a.btn__status {
    text-decoration: none;
    color: var(--text-color);
}
.main__table-information {
    padding: 20px 15px 0px 15px;
}

.main__table-text {
    font-size: 15px;
}

.main__table-form {
    display: flex;
}

    .main__table-form button {
        background-color: orange;
        margin: 0 auto;
        display: block;
    }

.search__form input[type="search"] {
    width: 300px;
    border: 1px solid #495057;
}

.input-wrapper {
    position: relative;
}

    .input-wrapper input[type="search"] {
        padding-right: 30px; /* adjust the padding to accommodate the icon */
        border-radius: 10px;
        font-size: 15px;
    }

    .input-wrapper i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        z-index: 0;
        transition: transform 0.2s ease-in-out;
    }

        .input-wrapper i:hover {
            color: #ee4d2d;
        }

/* Table */
.table {
    border-collapse: collapse;
    margin: 25px 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background: linear-gradient(to right, #ee4d2d,#ff7337);
    text-align: left;
    font-weight: bold;
    color: var(--white-color);
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid var(--black-color);
}

.content-table thead tr th:not(.Name) {
    text-align: center !important;
}

.content-table tbody tr td:not(.Name) {
    text-align: center !important;
}

.comboList_menu {
    border-radius: 20px;
}

.Status {
    background-color: var(--orange);
    color: var(--white-color);
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 20px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
}
.cart__name-item i {
    color: var(--text-color);
}
.cart__name-item i:hover {
    color: var(--main-color);
}

/*detail-export-order*/
.main__form-detail .main__sliderbar {
    position: fixed;
    top: 60px;
    bottom: 0;
}

.body-title {
    font-size: 1.8rem;
}

.lb-title {
    font-size: 16px;
}

img.cart__item-image {
    width: 90px;
    border-radius: 8px;
    margin-right: 20px;
}

a.cart__name-item {
    color: var(--text-color);
    text-transform: capitalize;
}

    a.cart__name-item:hover {
        color: var(--admin-color);
        text-decoration: none;
    }

.fs-16 {
    font-size: 16px;
    font-weight: 600;
}

button.submit-btn.submit-btn-edit {
    margin-top: 0;
}

.table {
    box-shadow: 1px 1px 12px rgb(0, 0, 0, 0.4);
}