.menu {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.8rem;
}

.category-filter,
.cost-filter {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.category-filter p,
.cost-filter p {
        width: 100%;
        font-size: 1.8rem;
        text-align: center;
        font-weight: 500;
        border-bottom: 1px solid var(--text-color);
        padding-bottom: 15px;
}

button.category-filter-name {
    border: none;
    background: var(--white-color);
    margin: 5px 0;
    outline: none;
}

.cost-filter-name {
    margin: 5px 0;
}

    .cost-filter-name input {
        margin-right: 8px;
    }

/* search and sort box */
.menu-sort {
    margin-left: 1%;
    width: 40%;
    font-size: 1.8rem;
    font-weight: 500;
}

.menu-sort-box {
    width: 50%;
    height: 36px;
    font-weight: 400;
    font-size: 1.6rem;
    border: 2px solid #c6c6c6;
    background-color: transparent;
    border-radius: 6px;
    padding: 0 10px;
    outline: none;
    opacity: 0.7;
    margin-left: 10px;
    margin-bottom: 30px;
}

.menu-search-box {
    width: 40%;
    height: 36px;
    background-color: transparent;
    border: 2px solid #c6c6c6;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    font-size: 1.6rem;
    margin-right: 2%;
}

.search-box-input {
    border: 0;
    outline: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding: 0px;
    padding-left: 10px;
    color: var(--text-color);
}

    .search-box-input::placeholder {
        font-size: 1.6rem;
        line-height: 100%;
        font-weight: 400;
        transform: translateY(-10%);
    }

.search-box-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 25%;
    height: 102%;
    border: none;
    color: var(--text-color);
    background-color: #C0C0C0;
}

.search-box-btn:hover {
    opacity: 0.6;
}
.search-box-btn:focus,
.search-box-btn:focus-visible{
    outline: none;
}
/* menu-item */

.card-edit {
    width: 31%;
    height: 350px;
    margin: 0 1% 30px 1%;
    border: 1px solid #c6c6c6;
    border-radius: 6px;
    position: relative;
}

.card-img-edit {
    width: 100%;
    height: 200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.card-tittle {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--text-color);
}

.card-tittle:hover {
    text-decoration: none;
    color: var(--main-color);
}
.card-sub {
    position: absolute;
    bottom: 13%;
    color: orangered;
}

.card-btn {
    position: absolute;
    width: 90%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Paging */
.page-pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.pagination a {
    display: block;
    color: var(--text-color);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    font-size: 1.4rem;
    border-radius: 6px;
}

    .pagination a.active {
        background-color: var(--main-color);
        color: white;
    }

.pagination i {
    color: var(--table-color);
}

.pagination a:hover:not(.active) {
    background-color: var(--main-color);
    opacity: 0.6;
}