.body__side-bar.body__side-bar-order {
    border-radius: 5px;
    width: 20%;
    padding: 25px 20px;
    height: fit-content;
    background: var(--div-color);
    box-shadow: 1px 1px 8px 0px var(--admin-color);
}

.body__side-bar-item-or {
    text-decoration: none;
    font-size: 1.8rem;
    list-style: none;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    color: var(--text-color);
    margin-right: 3%;
}
.body__side-bar-item-or span {
    color: #666666;
}
a.body__side-bar-item:hover {
    color: var(--main-color);
    opacity: 0.8;
    text-decoration: none;
}
.body__side-bar-item-or.active a, .body__side-bar-item-or.active span {
    color: var(--main-color);
    font-weight: 500;
}
.list-item.my-order {
    margin: 0;
    font-size: 1.8rem;
}
.lb-title {
    font-size: 15px;
    font-weight: 400;
}


.btn-xacnhan.btn-xacnhan-edit {
    width: 100%;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
}
.body-title-detail {
    display: block;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}
/*CSS cart.css*/
/*.list-item {
    margin: 40px 0 40px 3%;
    font-size: 1.6rem;
    border-radius: 10px;*/
    /* flex-grow: 1; */
    /*color: var(--text-color);
}*/
.table {
    border-collapse: collapse;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 1px 1px 12px rgb(0, 0, 0, 0.4);
}

.table thead th,
.table td {
    vertical-align: middle;
    border: none;
/*    border-bottom: 1px solid #dee2e6;*/
}
.table th,
.table td {
    font-size: 1.6rem;
}
.my-order td {
/*    background-color: var(--div-color);*/
}
.cart__name-item {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    text-transform: capitalize;
    text-align: left;
}

    .cart__name-item:hover {
        color: var(--main-color);
        text-decoration: none;
        opacity: 0.8;
    }

/*.input-group {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
}



.input-field {
    width: 60%;
    height: 2.6rem;
    padding: 6px 10px;
    border: none;
    border-left: 1px solid #c6c6c6;
    border-right: 1px solid #c6c6c6;
    font-size: 1.4rem;
    text-align: center;
    opacity: 0.8;
    background: transparent;
}

.cart__item-image {
    margin: 6px 0;
    border-radius: 6px;
    width: 26%;
    height: 26%;
    margin-right: 10px;
}

.table i {
    opacity: 0.8;
}

    .table i:hover {
        opacity: 0.6;
    }*/

/* Total Fee */
/*.fee-division {
    width: 35%;
    font-size: 1.6rem;
    margin-bottom: 50px;
    justify-self: right;
}

.total-fee-list {
    margin: 16px 0;
    border: 1px solid #dee2e6;
    border-radius: 6px;
}

.fee-detail {
    border: 1px solid #dee2e6;
}

.fee-detail__item {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

.cancel-order {
    background-color: #e0e0e0;
    color: var(--white-color);
    border: none;
    outline: none;
    width: 48%;
    height: 35px;
    font-size: 1.6rem;
    border-radius: 5px;
    margin-left: 3%;
}

.re-order {
    background-color: var(--main-color);
    color: var(--white-color);
    border: none;
    outline: none;
    width: 48%;
    height: 35px;
    font-size: 1.6rem;
    border-radius: 5px;
    margin-left: 3%;
}

.btn-cancel-order {
    display: flex;
}*/

.tr-ctn {
    height: 60px;
}

/* No order */
.no-order {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.no-order-img {
    width: 50%;
}
.no-order-text {
    font-size: 1.8rem;
    font-weight: 500;
}