@page
@model SuccesfulValidate1Model
@{
    ViewData["Title"] = "Login/Register";
}

<div class="login-wrapper">
    <div class="form-box success-form">
        <a asp-page="/Index" class="logo-link">
            <img src="~/img/logo.png" alt="" class="logo-brand logo-brand-success">
        </a>
        <div class="login-form">
            <img src="~/img/success4.svg" alt="" class="succes-icon">
            <h2 class="text succes-text">Thành công</h2>
            <p class="text">
                Thư đã được gửi đến email của bạn.
                <br>Vui lòng kiểm tra hộp thư và làm theo hướng dẫn để lấy lại mật khẩu.
            </p> 
            <input type="hidden" name="email" id="emaill" value="@Model.EmailValidate" />
            <button class="home-btn" onclick="window.location.href = 'https://localhost:44344/Index';">Về trang chủ</button>
        </div>
    </div>
</div>
@*<script src="~/js/successful-validate1.js"></script>*@