@page
@model ChangePasswordAdminModel
@{
	ViewData["Title"] = "ChangePassword";
}
<link rel="stylesheet" href="~/css/manage-account.css" asp-append-version="true" />

<div class="blank_area col-3"></div>
<div class="whole__information col-4">
	<small class="Current_Password" style="display:none">@Model.currentPassword</small>
	<div class="main__information">
		<div class="account__information d-flex justify-content-center">
			<p class="account__information-label">Đổi mật khẩu</p>
		</div>		
		<form id="change-password-staff-form" class="ChangePassword" asp-page-handler="Update">
			<div class="input__type">
				<p class="label">Nhập mật khẩu cũ <span style="color: red">&lowast;</span></p>
				<input id="old_password" name="oldPassword" class="form-control mr-sm-2" type="password">
				<small id="match_pass_error" style="color: red"></small>
			</div>

			<div class="input__type">
				<p class="label">Nhập mật khẩu mới <span style="color: red">&lowast;</span></p>
				<input id="new_password" name="newPassword" class="form-control mr-sm-2" type="password">
				<small id="invalid_pass_error" style="color: red"></small>
			</div>

			<div class="input__type">
				<p class="label">Nhập lại mật khẩu mới <span style="color: red">&lowast;</span></p>
				<input id="confirm_password" name="confirmPassword" class="form-control mr-sm-2" type="password">
				<small id="duplicate_pass_error" style="color: red"></small>
			</div>

			<button class="submit-btn button__customer-save" type="submit">ĐỔI MẬT KHẨU</button>			
		</form>

		<div class="label__password-forget d-flex justify-content-center">
			<a class="nav-link forgetpass-link" href="">Quên mật khẩu</a>
		</div>
	</div>
</div>
<script src="~/bcrypt.js_2.4.3/unpkg/bcrypt.js"></script>
<div class="blank_area col-3"></div>
<script src="~/js/change-password-admin.js"></script>
